.onlineFriend {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.rightBarProfileImg {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 50%;
}

.rightBarOnline {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: -2px;
  right: 0;
  border: 2px solid white;
}

.rightBarusername {
  font-weight: 500;
}
